@model HRPortal.Models.Data.Job
@{
    ViewBag.Title = "AddedJob";
}

<div align="center">
    <h3>This Job has been added to the list of Open Positions</h3>
    <p></p>
    <p>Job ID: <b>@Html.DisplayFor(j=>j.JobId)</b></p>
    <p>Job Title: <b>@Html.DisplayFor(j=>j.JobTitle)</b></p>
    <p>Department: <b>@Html.DisplayFor(j=>j.Department)</b></p>
    <p>Salary: <b>@Html.DisplayFor(j=>j.Salary)</b></p>
    <p></p>
    <p>@Html.ActionLink("Return to Open Positions", "Jobs", "Admin")</p>

</div>
