@model HRPortal.Models.ViewModels.AddJobVM
@{
    ViewBag.Title = "AddJob";
}

<div class="row">
    <div class="col-xs-12">
        <h3>Add Job</h3>
        @Html.ActionLink("Return to Open Positions", "Jobs", "Admin")
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        @using (Html.BeginForm())
        {
            
            <div class="form-group">
                <label>Job Title: </label>
                @Html.TextBoxFor(j => j.Job.JobTitle, new { @class = "form-control", placeholder = "Job Title" })
                @Html.ValidationMessageFor(j=> j.Job.JobTitle)
            </div>
            <div class="form-group">
                <label>Department: </label>
                @Html.DropDownListFor(j => j.Job.Department, Model.DepartmentItems, "Dept.",  new { @class = "form-control", placeholder = "Department" })
                @Html.ValidationMessageFor(j => j.Job.Department)
            </div>
            <div class="form-group">
                <label>Salary: </label>
                @Html.TextBoxFor(j => j.Job.Salary, new { @class = "form-control", placeholder = "Salary" })
                @Html.ValidationMessageFor(j => j.Job.Salary)
            </div>
            <button type="submit" class="btn btn-sm btn-primary">Add Job</button>
        }
    </div>
</div>

@* Render section used so we can stray from the shared layout *@
@section scripts
{
    <script src="~/scripts/jquery.validate.min.js"></script>
    <script src="~/scripts/jquery.validate.unobtrusive.min.js"></script>
}
