@model IEnumerable<HRPortal.Models.Data.Policy>

@{
    ViewBag.Title = "ViewPoliciesByCat";
}

<h2>View Policy by Category</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.PolicyTitle)*@ Policy Title
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.PolicyContent)*@ Content
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
            <td>
                @Html.DisplayFor(modelItem => item.PolicyTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PolicyContent)
            </td>
            @*<td>
           
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) 
       
        </td>*@
        </tr>
    }
</table>
<div align="center">
<p>@Html.ActionLink("Return to View Policies", "ViewPolicies", "Admin")</p>
</div>